*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* banner */
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),
    url('images/logo.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;

}
.logo{
    width: 100px;
    border-radius: 30%;
    top: 4%;
    left: 10%;
    float: left;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 90px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
    font-size: 20px;
    font-style: bold;
    text-align: center;
}
.banner-btn a{
    position: relative;
    width: 130px;
    height: 40px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:white;
    border-radius: 10%;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}
/* slieNav */
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: #009688;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuButn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuButn img{
    width: 20px;
    margin-top: 15px;
}
#menu{
    height: 32px;
    padding:0;
    margin-top:3%;
    background-color: lightseagreen;
    border: 1px solid #CDCDCD;
    border-radius: 20px;
    float: left;
}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: lightseagreen;
    border-radius: 20px;
    color: white;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    background-color: lightslategray;
    padding-left: 10px;
}

#menu li a:hover{
    background-color: red;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}

/* feartures */
#features{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 70px 0;
}
.titile-text{
    text-align: center;
    padding-bottom: 70px;
    }
.titile-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.titile-text p::after{
    content: '';
    width: 50px;    
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius:35px ;
    border-bottom-right-radius: 35px;
}
.titile-text h1{
    font-size: 50px;
}
.features-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-icon .bi{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
}
.feature-text p{
    text-align: initial;
    padding: 0 20px;
}

/* services */
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    
    border-radius: 7px;

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #009688);
    opacity: 0;
    transform: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
/* estimonial */
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-infor .bi{
    margin: 10px;
    font-size: 20px;
    color: #009688;
}
.user-infor small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(7px);
}
/* Footer */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px;
}
.footer-row p{
    line-height: 35px;
}
.footer-img{
    max-width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .bi{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
}
.social-links .bi:hover{
    color: #ff9900;
}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
}
.footer-left .bi, .footer-right .bi{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
/* Order */
#Order{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(rgba(0,0,0,0.5),#009688),
    url('images/Order.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.now-search {
    color: #fff;
    width: 470px;
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 20px;
    transform: translateY(-50%);
    margin-top: -30px;
}
.now-search .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.now-search .local {
    font-size: 15px;
    text-transform: capitalize;
}
.now-search h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.now-search .form-search {
    padding: 27px 0 40px;
    position: relative;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.now-search .form-search .input-group input {
    width: 100%;
    padding-right: 75px;
    padding-left: 10px;
    height: 50px;
    border: 0;
    border-radius: 6px 10px 10px 6px;
}
.now-search .form-search .btn-search {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 6px 6px 0;
    padding-top: 11px;
}
.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #0288d1;
    border-top-color: rgb(2, 136, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(2, 136, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(2, 136, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(2, 136, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: .23rem .6rem;
    padding-top: 0.23rem;
    padding-right: 0.6rem;
    padding-bottom: 0.23rem;
    padding-left: 0.6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}
.btn-search {
    display: inline-block;
    background-color: #0288d1;
}
.icon-search {
    width: 25px;
    height: 25px;
    background-position: -14px -15px;
}
.icon-search img{
    height: 25px;
    width: 25px;
}

.category-list-filter {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}
.category-list-filter  a{
    width: 20px;
    border-color: white;
    border-width: 2px;
    color: white;
    background-color: transparent;
    border-radius: 10%;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 1000px) {

    .banner-text h1{
        font-size: 90px;
    }
    .banner-text p{
        font-size: 15px;
        font-style: italic;
    }
}
@media only screen and (max-width: 700px) {
    #menu{
        display: none;
    }
    .banner-text h1{
        font-size: 60px;
    }
    .banner-text p{
        font-size: 10px;
        font-style: italic;
    }
}


/* Animination */
#container {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .steam {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -75px;
    margin-left: 75px;
    z-index: 0;
    opacity: 0;
  }
  
  #steam1 {
    -webkit-animation: steam1 4s ease-out infinite;
    animation: steam1 4s ease-out infinite;
  }
  
  #steam3 {
    -webkit-animation: steam1 4s ease-out 1s infinite;
    animation: steam1 4s ease-out 1s infinite;
  }
  
  @-webkit-keyframes steam1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  #steam2 {
    -webkit-animation: steam2 4s ease-out 0.5s infinite;
    animation: steam2 4s ease-out 0.5s infinite;
  }
  
  #steam4 {
    -webkit-animation: steam2 4s ease-out 1.5s infinite;
    animation: steam2 4s ease-out 1.5s infinite;
  }
  
  @-webkit-keyframes steam2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  #cup {
    z-index: 1;
  }
  
  #cup-body {
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 0 0 150px 150px;
    background-color: #fff;
    /* margin: auto; */
    margin-top: -25px;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
  }
  
  #cup-shade {
    position: relative;
    height: 300px;
    width: 200px;
    background-color: #F3F3F3;
    display: inline-block;
    margin-left: 42%;
    margin-top: -3px;
    transform: rotate(50deg);
    z-index: 1;
  }
  
  #cup-handle {
    position: relative;
    height: 75px;
    width: 80px;
    border-radius: 0 150px 150px 0;
    border: 15px solid #F3F3F3;
    margin-bottom: 95px;
    margin-left: 250px;
    display: inline-block;
    z-index: 0;
  }
  
  #saucer {
    position: absolute;
    height: 30px;
    width: 300px;  
    border-radius: 0 0 100px 100px;
    background-color: #F9F9F9;
    margin-top: -32px;
    margin-left: 5px;
    z-index: 2;
  }
  
  #shadow {
    height: 10px;
    width: 300px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 6px;
    background-color: #7bb8d4;
  }